@font-face {
    font-family: minha;
    src: url('/imagem/WinterSelfie.ttf');
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../imagem/fundo.jpg');
    background-repeat: no-repeat;
}
.geral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(orange,white);
    height: 60%;
    width: 50%;
    position: relative;
    top: -10%;
}
img{
    padding: 5%;
    margin: 5%;
}
h1{
    text-decoration:underline;
    font-style: italic;
    font-size: xxx-large;
    font-family: minha;
}
h2{
    text-decoration: underline;

}